.primary_nav{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;

}


  
.content{

 font-family: "Helvetica Now Text";
 font-size: 12px;
 font-weight: 500;
}