.secondary_nav_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 20px;

}
.secondary_nav_logo svg{
    height: 100px;
    width: auto;
}
.secondary_nav_main{
    display: flex;
}
.secondary_nav_main ul{
    display: flex;
    gap: 10px;
}
.secondary_nav_main ul li{
    list-style: none;
}

.secondary_nav_search svg{
    height: 20px;
}